<?xml version="1.0"?>

<model>
  <name>camera_pole</name>
  <version>1.0</version>
  <sdf version="1.6">camera_pole.sdf</sdf>

  <author>
    <name>Batu Orhun Gunduz</name>
    <email>batuorhungunduz@gmail.com</email>
  </author>

  <description>
    Camera pole with 4 cameras covering a 360 view and a forward-facing cam
  </description>
</model>
