<launch>
    <arg name="upright" default="true"/>
    <arg name="rot" value="$(eval -1.57079633 if upright else 0)"/>
    
    <node name="spawn_zephyr" pkg="gazebo_ros" type="spawn_model" args="
    -sdf 
    -file $(find kuav_simulation)/models/zephyr_delta_wing_ardupilot_camera/delta_wing.sdf 
    -model zephyr_delta_wing_ardupilot_camera
    -z 0.2
    -R $(arg rot)
    -unpause" respawn="false"/>
</launch>