<launch>
    <arg name="world_name" default="$(find kuav_simulation)/worlds/runway_battleship.world"/>
    <arg name="gui" default="true"/>
    <arg name="upright" default="false"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <!-- more default parameters can be changed here -->
    </include>
    <include file="$(find kuav_simulation)/launch/spawn_zephyr.launch">
        <arg name="upright" value="$(arg upright)"/>
    </include>
</launch>